body {
  background: #22475d;
}
.forecast {
  max-width: 600px;
  background-color: #16394c;
  margin: 60px auto;
  padding: 30px;
  box-shadow: 10px 15px 30px #3a6278;
  border: 3px solid #608094;
  border-radius: 10px;
}
