body {
  background: #22475d;
  .roboto-regular {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
  }
}
.forecast {
  max-width: 600px;
  background-color: #16394c;
  margin: 45px auto;
  padding: 15px;
  box-shadow: 10px 15px 30px #3a6278;
  border: 3px solid #608094;
  border-radius: 16px;
}
.logo {
  margin-left: 5px;
}
.city-search {
  margin: 5px;
  padding: 3px 5px;
  width: 82%;
  border-radius: 10px;
  border: 2px solid #608094;
  background-color: aliceblue;
  font-size: 15px;
}
.city-submit {
  margin: 5px;
  padding: 3px 7px;
  border-radius: 10px;
  border: 2px solid #608094;
  background-color: aliceblue;
  font-size: 15px;
  color: #16394c;
  font-weight: 600;
}
.city {
  font-size: 30px;
  color: azure;
  margin: 20px;
  text-align: center;
  font-weight: 700;
}

.description::first-letter {
  text-transform: capitalize;
}

.weather-container {
  display: flex;
  justify-content: space-between;
  margin: 25px 20px;
}
.image {
  width: 120px;
  height: 120px;
}
.description {
  font-size: 16px;
  color: azure;
}
.temp {
  font-size: 70px;
  color: azure;
  font-weight: 500;
  margin-left: 90px;
  margin-top: 20px;
}
.degree {
  font-size: 30px;
  color: azure;
  margin-top: 15px;
  margin-right: 80px;
}
.wind {
  font-size: 15px;
  color: azure;
  margin-top: 35px;
  padding: 3px;
}
.weather-forecast {
  display: flex;
  justify-content: space-around;
}
.weather-forecast-date {
  text-align: center;
  color: aliceblue;
  font-size: 20px;
  line-height: 35px;
}
.weather-forecast-icon {
  text-align: center;
  font-size: 30px;
  margin-bottom: 15px;
}
.weather-forecast-temp {
  color: aliceblue;
  font-size: 17px;
  display: flex;
  justify-content: center;
}
.weather-forecast-tem {
  padding: 0 5px;
}
hr {
  color: azure;
  opacity: 0.5;
}
footer {
  font-size: 15px;
  color: azure;
  margin: 15px 15px 7px 15px;
  padding: 5px;
  text-align: center;
}
a {
  color: #9ce3f9;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
